{% extends 'base.html' %} {% block content %}
<div class="transactions">
    <h2>New Transaction</h2>

    <div class="coin-description">
        <div class="desc-name">
            <p>{{ coin['name'] }} ({{ coin['symbol'].upper() }})</p>
            <img src="{{ coin['image'] }}" />
        </div>
        <div class="desc-price">
            <p><b>Current price</b></p>
            <p>${{ coin['current_price'] }}</p>
        </div>
    </div>

    <form method="post" action="/coins/transactions/coin">
        <li class="form-row crypto">
            <input type="radio" id="name" name="name" value="{{ coin['symbol'] }}" checked required/>{{ coin['symbol'].upper() }}
        </li>
        <li class="form-row buysell">
            <label for="transactions">Current Crypto Price in Fiat</label>
            <input type="text" id="current_price" name="current_price" value="{{ coin['current_price'] }}" readonly="readonly" required>
        </li>
        <li class="form-row buysell">
            <label for="transactions">Transactions</label>
            <input
                type="radio"
                id="buy"
                name="transactions"
                value="buy"
                checked
            />Buy
            <input type="radio" id="sell" name="transactions" value="sell" />Sell
        </li>
        <li class="form-row">
            <label for="value">Amount in Cryptocurrency</label>
            <input id="value" name="value" type="text" required />
        </li>
        <li class="form-row">
            <button type="submit">Submit</button>
        </li>
    </ul>
    </form>
</div>

<div class="transactions">
    <h2>Transaction History</h2>
    {% for each_history in history %}
    <p class="history" style="color: grey"><b>{{ each_history[0] }}</b></p>
    <p class="history">{{ each_history[1] }}</p>
    {% endfor %}
</div>
{% endblock content %}
