{% extends 'base.html' %} {% block content %}
<div class="transactions">
    <h2>New Transaction</h2>

    <div class="coin-description">
        <div class="desc-name">
            <p>{{ coin['name'] }} ({{ coin['symbol'].upper() }})</p>
            <img src="{{ coin['image'] }}" />
        </div>
        <div class="desc-price">
            <p><b>Current price</b></p>
            <p>${{ coin['current_price'] }}</p>
        </div>
    </div>

    <form method="post" action="/coins/transactions/{coin['symbol']}">
        <li class="form-row buysell">
            <label for="transactions">Transactions</label>
            <input
                type="radio"
                id="buy"
                name="transaction"
                value="buy"
                checked
            />Buy
            <input type="radio" id="sell" name="transaction" value="sell" />Sell
        </li>
        <li class="form-row">
            <label for="value">Crypto Value</label>
            <input id="value" name="value" type="number" required />
        </li>
        <li class="form-row">
            <button type="submit">Submit</button>
        </li>
    </ul>
    </form>
</div>

<div class="transactions">
    <h2>Transaction History</h2>
</div>
{% endblock content %}
