{% extends 'base.html' %} {% block content %}
<div class="transactions">
    <h2>New Transaction</h2>
    <p class="message">{{ message }}</p>
    <form method="post" action="/coins/transactions">
        <ul class="wrapper">
            <li class="form-row">
                <label for="crypto">Crypto (by Symbol)</label>
                <input id="name" name="name" type="text" required />
            </li>
            <li class="form-row">
                <button type="submit">Submit</button>
            </li>
        </ul>
    </form>
</div>
<div class="transactions">
    <h2>Transaction History</h2>
</div>
{% endblock content %}
