{% extends 'base.html' %} {% block content %}
<section class="wallet">
    <h2>TOTAL WALLET VALUE</h2>
    <div id="wallet-value">
        <h3>$ {{ '{:.2f}'.format(amount) }} {{ current_currency }}</h3>
    </div>
    <div id="search-section">
        <form action="/coins/wallet" method="get">
            <label for="currency">Currency:</label>
            <select id="currency" name="currency">
                <option value="aud" selected>AUD</option>
                <option value="usd">USD</option>
                <option value="nzd">NZD</option>
                <option value="cad">CAD</option>
                <option value="sgd">SGD</option>
            </select>
            <input type="submit" id="submit" class="search-button" value="Go" />
        </form>
    </div>
    <div class="delete">
        <form action="/coins/wallet/empty" method="post">
            <input
                type="submit"
                id="emptyWallet"
                name="delete"
                value="Empty Wallet"
                class="button"
            />
        </form>
    </div>
</section>
<div id="coins-held">
    <section class="all-coins" id="all-coins">
        <div class="coin-description">
            <div class="desc-name title">
                <h3>Coin</h3>
            </div>
            <div class="desc-symbol title">
                <h3>Symbol</h3>
            </div>
            <div class="desc-price title">
                <h3>Current Price ({{ current_currency }})</h3>
            </div>
            <div class="desc-hour title">
                <h3>Cryto Amount</h3>
            </div>
            <div class="desc-day title">
                <h3>Fiat Amount</h3>
            </div>
        </div>
        {% for coins in coins_held %}
        <div class="coin-description">
            {% for options in list %} {% if coins[1] == options["symbol"] +%}
            <div class="desc-name">
                <p>{{ options['name'] }}</p>
                <img src="{{ options['image'] }}" />
            </div>
            <div class="desc-symbol">
                <p>{{ coins[1].upper() }}</p>
            </div>
            <div class="desc-price">
                <p>${{ options['current_price'] }}</p>
            </div>
            <div class="desc-hour">
                <p>{{ coins[0] }}</p>
            </div>
            <div class="desc-day">
                <p>
                    ${{ '{:.2f}'.format(options['current_price']|float *
                    coins[0]|float) }}
                </p>
            </div>
        </div>
        {% endif %} {% endfor %} {% endfor %}
    </section>
</div>

{% endblock content %}
