html,
body {
    font-size: 16px;
    font-family: 'Jura', sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 50);
}

main,
header,
footer {
    width: 60em;
    margin: 2em auto;
}

.title > h3,
footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 5em;
    display: flex;
    justify-content: center;
    margin: 0px 0px -20px 0px;
}

header nav {
    display: flex;
    justify-content: flex-start;
    margin: 35px;
    gap: 30px;
    font-size: 1em;
    background-color: #c122e1;
    border-radius: 25px;
    padding: 18px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.loggedin {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-weight: bold;
}

a:hover {
    color: #040926;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

img {
    width: 60px;
}

.coin-description {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        'name symbol price hour day week cap'
        'name symbol price hour day week cap';
    gap: 80px;
    padding: 10px;
}

.desc-name {
    grid-area: name;
    align-self: center;
    font-weight: bold;
}

.desc-symbol {
    grid-area: symbol;
    align-self: center;
    font-weight: bold;
}

.desc-price {
    grid-area: price;
    align-self: center;
}

.desc-hour {
    grid-area: hour;
    align-self: center;
}

.desc-day {
    grid-area: day;
    align-self: center;
}

.desc-week {
    grid-area: week;
    align-self: center;
}

.desc-cap {
    grid-area: cap;
    align-self: center;
}

.coin-description > .title {
    color: #ffed66;
}

.signup,
.login {
    margin: 0 auto;
    width: 30em;
    font-weight: bold;
    text-align: center;
}

form > h2,
.transactions > h2,
.wallet > h2 {
    color: #ffed66;
}

form > div {
    margin-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form label,
form input {
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

button {
    margin: 0 auto;
    background-color: #ffed66;
    color: black;
    width: 8em;
    height: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    border-radius: 25px;
}

.wrapper {
    list-style-type: none;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 20px;
}

.form-row > label {
    flex: 1;
    font-weight: bold;
}

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: 0.5em;
}

.buysell {
    width: 48em;
    margin-left: auto;
    margin-right: auto;
}

.crypto {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

#wallet-value {
    background-color: #ffed66;
    color: black;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.5em;
}

.message {
    display: flex;
    justify-content: center;
    color: rgb(255, 45, 45);
}

.transactions > .coin-description {
    display: flex;
    justify-content: center;
}
