{% extends 'base.html' %} {% block content %}
<div class="transactions">
    <h2>WHY CRYPTRACK?</h2>
    <p style="text-align: center">
        Got too many Crypto and Exchanges to keep track of?
    </p>
    <p style="text-align: center">
        Create your own wallet to CrypTrack of all your Crypto values in one
        spot. Sign up now <a href="/signup">here</a>.
    </p>
    <p style="text-align: center">
        We currently support multiple currencies AUD, USD, NZD, CAD & SGD.
    </p>
    <p style="text-align: center">
        To find out more, email us
        <a href="mailto:yongelynn@gmail.com" target="_blank">here</a>.
    </p>
</div>
{% endblock content %}
