<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CrypTrack</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <div class="title">
                <h1>CrypTrack</h1>
                <h3>A wallet to CrypTrack of all your Crypto prices</h3>
            </div>
            <nav>
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/coins#all-coins">Coins</a>
                </div>
                {% if session.get('user_id') %}
                <div>
                    <a href="/coins/wallet">Wallet</a>
                </div>
                <div>
                    <a href="/coins/transactions">Transactions</a>
                </div>
                <div>
                    <a href="/sessions/destroy">Logout</a>
                </div>
                {% else %}
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/signup">Sign Up</a>
                </div>
                <div>
                    <a href="/login">Login</a>
                </div>
                {% endif %}
            </nav>
            <div id="search-section">
                <form action="/coins/search" method="POST">
                    <label for="search" style="font-weight: bold">Coin Search: </label>
                    <input type="text" id="search" name="search" required/>
                    <label for="currency">Currency:</label>
                    <select id="currency" name="currency">
                        <option value="aud" selected>AUD</option>
                        <option value="usd">USD</option>
                        <option value="nzd">NZD</option>
                        <option value="cad">CAD</option>
                        <option value="sgd">SGD</option>
                    </select>
                    <input type="submit" id="submit" class="search-button" value="Go" />
                </form>
            </div>
            {% if session.get('user_id') %}
            <div class="loggedin">
                    <div>Logged in as <a href="/users/account"><span style="color: #ffed66; font-weight: bold">{{session.get('user_name')}}</span></a></div>
            </div>
            </nav>
            {% endif %}
        </header>
        <main>{%block content %}{% endblock content %}</main>
        <footer>
            <div>
                <h4><a href="/about">ABOUT CRYPTRACK</a></h4>
                <h5>&copy; 2022 CrypTack</h5>
                <p style="font-size: 12px">Coin Data from CoinGecko</p>
            </div>
        </footer>
    </body>
</html>
